<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JavyMB/blob/main/A01794423_Javier_Munoz_Actividad2_semana2_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboratorios de Modulo 4 (IBM)
Alumno: Javier Munoz Barrios

Matricula: A01794423

Objetivos principales del modulo:




*   Abrir archivos
*   Escribir archivos
*   Cargar datos con Pandas
*   Uso de datos con Pandas

In [ ]:
# File = open("/content/Example1.txt","r") # El modo w de escribir(write) y "r" de leer (read), a para agregar (append)
# File.close()

with open("/content/Example.txt","r") as File1:
  print("nombre del archivo",File1.name)
  FirstLine= File1.readline() # tambien puedes especificar los caracteres a usar  readline(16) 
  print("Primera Linea: ",FirstLine)
  file_stuff=File1.read() # guarda los valores del archivo en una variable
  print("Contenido del Archivo dentro del with: ",file_stuff)

  # for line in File1:   tambien se puede usar 
  

print("Revisar si el archivo fue cerrado? ...",File1.closed)
print("Leer el contenido fuera del with: ",file_stuff)

nombre del archivo /content/Example.txt
Primera Linea:  This is line 1

Contenido del Archivo dentro del with:  This is line 2
This is line 3
Revisar si el archivo fue cerrado? ... True
Leer el contenido fuera del with:  This is line 2
This is line 3

In [ ]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

# Download Example file
!wget -O /content/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

--2022-09-26 03:39:38--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/content/Example1.txt’

/content/Example1.t 100%[===================>]      45  --.-KB/s    in 0s

2022-09-26 03:39:38 (3.70 MB/s) - ‘/content/Example1.txt’ saved [45/45]

In [ ]:
# el modo mas basico de leer un archivo 
example1 = "Example1.txt"
file1 = open(example1, "r")

# Podemos ver sus atributos
print("nombre",file1.name)
print("mode",file1.mode)
print("closed",file1.closed)

contenido = file1.read()
print("contenido ", contenido)
print(type(contenido)) # el tipo de contenido... 

# importante de cerrrar el archivo despues de obtener toda la informacion
file1.close()

nombre Example1.txt
mode r
closed False
contenido  This is line 1
This is line 2
This is line 3
<class 'str'>

In [ ]:
# Una mejor forma de abrir un archivo es unsando with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

print("verificar si el archivo esta cerrado", file1.closed)
print("contenido", FileContent)

This is line 1
This is line 2
This is line 3
verificar si el archivo esta cerrado True
contenido This is line 1
This is line 2
This is line 3

In [ ]:

# otra forma es usando un loop dentro para leer las lineas 
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
#tambien se puede usar readlines
with open(example1, "r") as file1:
    FileasList = file1.readlines()

# despues solo hacer refrencia al index
print(FileasList[0],FileasList[1])

This is line 1
 This is line 2

##### Wrinting files

In [ ]:
# tambien podemos escribir o crear un archivo usando "w" y with statement. 
with open ("/content/Example2.txt","w") as File1:
  File1.write("This Line A")

In [ ]:
# por ejemplo escribir de un array a un archivo
Lines=["This is line A\n", "This is line B\n","This is line C\n"]
with open ("/content/Example2.txt","w") as File1:
  for line in Lines:
    File1.write(line)

In [ ]:
# tambien poidemos Agregar sin crear un nuevo archivo 

# ejemplo copiar de un archivo a otro 
with open ("/content/Example1.txt","r") as readfile:
  with open ("/content/Example3.txt","w") as File1:
    for line in readfile:
      File1.write(line)

#### Pandas

In [36]:
import pandas as pd
# Cargar un csv usando la abreviacion de pandas como pd 
CSV_PATH="/content/sample_data/california_housing_test.csv"
df=pd.read_csv(CSV_PATH)
# print("Leer encabezados",df.head())
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [31]:
#leer Data Frames, para crear un diccionario
df2=pd.DataFrame({'a':[11,21,31],'b':[21,22,23],'c':[21,22,23]})
df2

    a   b   c
0  11  21  21
1  21  22  22
2  31  23  23

In [29]:



# obtener  las primeros tres columnas
print(df2.head())

#obtener la columna 'a'
print("\n solo la columna a", df2['a'])

#tambien obtener columnas especificas
print("\n columa a y c", df2[['a','b']])

# obtener primera celda de la primera. columna se puede usar .iloc
print("\n",df2.iloc[0,0])
print("\n",df2.iloc[1,0])

    a   b   c
0  11  21  21
1  21  22  22
2  31  23  23

 solo la columna a 0    11
1    21
2    31
Name: a, dtype: int64

 columa a y c     a   b
0  11  21
1  21  22
2  31  23

 11

 21

In [38]:
# podemos filtrar por los campos unicos y guardarlos en otros formatos 

# df3 = df.
df["housing_median_age"].unique()

array([27., 43., 28., 19., 37., 15., 31., 45., 36., 16., 42., 26., 35.,
       40., 47., 13., 52., 32., 30., 14., 34., 17.,  5., 38., 33., 11.,
       48.,  4., 24.,  6., 21., 39., 10., 44., 18., 12., 22., 29., 46.,
       50., 20., 49., 25., 23., 41.,  8.,  3.,  7.,  9.,  2., 51.,  1.])

In [39]:
# si queremos crear un nuevo data set con condicionales 
# por ejemplo onbtener todas las casas que son arriba de 30  

df["housing_median_age"]>=30

0       False
1        True
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998     True
2999     True
Name: housing_median_age, Length: 3000, dtype: bool

In [45]:
df3 = df[df["housing_median_age"]>=30]

# se puede exportar a csv y guardarlo 
df3.to_csv("houses_over_30.csv") # tambien se puede exportar a xls

df3 # este dataframe ahora contiene solo las. casas que son mayores a 30

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
...,...,...,...,...,...,...,...,...,...
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [49]:
# considerando el siguiente dataframe
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

# que tipo regresa df['a']==1 ?
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [53]:
# Read data from CSV file
import pandas as pd

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [55]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [56]:
x = df[['Length']] # obtener solo la Columna Length 
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [58]:
# podemos ver el tipo de Dataframe 
x = df[['Artist']] 
type(x)

pandas.core.frame.DataFrame

In [ ]:
y = df[['Artist','Length','Genre']]
y

In [61]:
# obtener la primera file  y primera columna 

df.iloc[0, 0]

'Michael Jackson'

In [62]:
# uso de slice 
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

#### Quiz del DataFrame

In [63]:
# Escribe  una variable q que guarde la columna Rating como un dataframe
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [64]:
# Escribe en la variable q del dataframe la columna Released y Artis
q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [65]:
# Obten la Segunda y Tercera columna del dataframe
df.iloc[1,2]

1980

In [70]:
new_index=['a','b','c','d','e','f','g','h']

# Utilice la siguiente lista para convertir el índice de marco de datos df en caracteres y asígnelo a df_new; encuentre el elemento correspondiente al índice de fila a y la columna 'Artista'. A continuación, seleccione las filas de la a a la d para la columna 'Artista'

df_new = df
df_new.index = new_index
df_new.loc['a','Artist']
df_new.loc['a':'d','Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object