# Laboratorio 1 de IBM (Strings)

<h3>Types</h3>

<h4>Exercise: Your First Program</h4>

<p>In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code></p>

In [34]:
print("Hello,world")

Hello,world

In the code cell below, print out the phrase: Hello, world! and comment it with the phrase Print the traditional hello world all in one line of code.

In [35]:
print("Hello,world")  # Print the traditional hello world

Hello,world

<h4>Types</h4>

In the code cell below, use the type() function to check the object type of 12.0.

In [37]:
type(12.0)

float

<h3> Exercise: Expression and Variables in Python</h3>

What is the value of x where x = 3 + 2 * 2

In [6]:
x = 3 + 2 * 2
x # 7      usando   3 + (2 * 2)   -->    3 + 4 = 7

7

What is the value of y where y = (3 + 2) * 2?

In [8]:
y = (3 + 2) * 2
y #10   ahora especifica que  la suma se haga primero   (3 + 2) * 2  = 5 * 2 = 10

10

What is the value of z where z = x + y?

In [10]:
z= x + y
z # 17

17

<h3>Quiz Strings</h3>

What is the value of the variable <code>a</code> after the following code is executed?

In [11]:
# Write your code below and press Shift+Enter to execute 
a = "1"
print(a) #  "1"

1

What is the value of the variable <code>b</code> after the following code is executed?

In [12]:
b = "2"
print(b)

2

What is the value of the variable c after the following code is executed?

In [15]:
c = a + b
c

'12'

Consider the variable d use slicing to print out the first three elements:

In [18]:
d = "ABCDEFG"
print(d[:3]) # tambien se puede user d[0:3]

'ABC'

Use a stride value of 2 to print out every second character of the string e:

In [20]:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

Print out a backslash:

In [26]:
print(r"\  usando raw \ ")
print("\\ un backsplash \\")

\  usando raw \
\ un backsplash \

Convert the variable f to uppercase:

In [27]:
f = "You are wrong"
print(f.upper())

YOU ARE WRONG

Consider the variable g, and find the first index of the sub-string snow:

In [29]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In the variable g, replace the sub-string Mary with Bob:

In [33]:
print("before:",g)
print("after:",g.replace("Mary","Bob"))

before: Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go
after: Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

# Laboratorio 2 (Tuples,Lists)

Consider the following tuple:

In [1]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Find the length of the tuple, genres_tuple:

In [2]:
len(genres_tuple)

8

Access the element, with respect to index 3:

In [3]:
genres_tuple[3]

'hard rock'

Use slicing to obtain indexes 3, 4 and 5:

In [5]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Find the first two elements of the tuple <code>genres_tuple</code>:

In [7]:
genres_tuple[0:2] # tambien se puede user genres_tuple[:2]

('pop', 'rock')

Find the first index of <code>"disco"</code>:

In [9]:
genres_tuple.index("disco")

7

Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

In [17]:
C_tuple=(-5, 1, -3)
D_tuple = sorted(C_tuple) 
D_tuple

[-5, -3, 1]

In [10]:
# Split the following string into a list 
to_array ="A,B,C,D,E"
to_array.split(",")

['A', 'B', 'C', 'D', 'E']

In [15]:

list_a = ['A', 'B', 'C', 'D', 'E']
print(list_a)
list_b = list_a # solo hace una referencia
list_b[0] = 'a'
print("list_b[0] = 'a'")
print('Los dos deben cambiar: ',list_a,list_b)


# clone a list 
list_c = list_a[:] # esto significa que esta clonando 
list_c

['A', 'B', 'C', 'D', 'E']
list_b[0] = 'a'
Los dos deben cambiar:  ['a', 'B', 'C', 'D', 'E'] ['a', 'B', 'C', 'D', 'E']

['a', 'B', 'C', 'D', 'E']

Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

In [19]:
a_list = [1,"hello",[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

Find the value stored at index 1 of a_list.

In [20]:
a_list[1]

'hello'

Retrieve the elements stored at index 1, 2 and 3 of a_list.

In [21]:
a_list[1:4]

['hello', [1, 2, 3], True]

Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

In [25]:
A=[1,'a']
B=[2,1,'d']
C = A + B
C

[1, 'a', 2, 1, 'd']

#### Set

Cast the following list to a set:

In [26]:
to_set = ['A','B','C','A','B','C']
to_set = set(to_set)
to_set

{'A', 'B', 'C'}

#### Add an Element to the Set
Add the string 'D' to the set S.

In [27]:
S={'A','B','C'}
S.add('D')
S

{'A', 'B', 'C', 'D'}

#### Intersection of Sets
Find the intersection of set A and B.

In [28]:
A={1,2,3,4,5}
B={1,3,9, 12}

A.intersection(B)

{1, 3}